<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Base64</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body class="pb-5">
<!-- 头部 -->
<div class="container ">
    <div class="m-4">
        <h2> base64 在线解码编码</h2>
    </div>
</div>

<!-- navbar -->
<div th:include="../templates/navbar :: navbar"></div>

<div class="container" ng-controller="mainController">
    <div class="m-2">
        <small>
            当前位置：lwplvx » base64 在线解码编码
        </small>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card rounded-0">
                <div class="card-header">base64 解码/编码</div>
                <div class="card-block">
                    <h4 class="text-danger text-center">base64 解码/编码</h4>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"
                               id="home-tab" data-toggle="tab"
                               href="#home" role="tab" aria-controls="home"
                               aria-expanded="true">字符编码</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab"
                               href="#profile" role="tab" aria-controls="profile">图片编码</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home"
                             role="tabpanel" aria-labelledby="home-tab">

                            <div class="mt-2 mb-2">请输入要进行编码或解码的字符：</div>

                            <textarea class="form-control rounded-0" rows="6"
                                      ng-model="srcValue"></textarea>
                            <div class="form-inline pt-3">
                                <button class="btn btn-primary ml-3 rounded-0"
                                        ng-click="enCode()">
                                    编码
                                </button>
                                <button class="btn btn-primary ml-3 rounded-0"
                                        ng-click="deCode()">
                                    解码
                                </button>
                                <label class="ml-3"><input type="checkbox" />  解码结果以16进制显示</label>

                                <button class="btn btn-primary ml-3 rounded-0"
                                        ng-click="copy()">
                                    复制
                                </button>
                                <button class="btn btn-primary ml-3 rounded-0"
                                        ng-click="clear()">
                                    清空
                                </button>
                            </div>

                            <div class="mt-2 mb-2"> Base64编码或解码结果：</div>
                            <textarea id="res-textarea" class="form-control rounded-0" rows="6"
                                      ng-model="resValue"></textarea>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel"
                             aria-labelledby="profile-tab">

                            <div class="clearfix mt-2 mb-2 "> </div>
                            <input type="file" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div ng-include="'rightNav.html'"></div>
        </div>
    </div>
</div>
<!-- footer -->
<div th:include="../templates/footer :: footer"></div>
<script  th:src="@{/static/js/angular.min.js}"></script>
<script  th:src="@{/static/js/base64.js}"></script>
<script  th:src="@{/static/js/app/app.js}"></script>

</body>
</html>